.homepage-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
  overflow: hidden;
}

.homepage-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff; /* White text color for contrast */
  text-align: left; /* Align text to the left */
  margin: 0 auto; /* Center the header */
  padding: 20px; /* Add some padding */
  max-width: 800px; /* Limit the maximum width */
}

.homepage-header h1 {
  margin-bottom: 20px; /* Add space below the heading */
}



.homepage-subparagraph {
  margin: 10px 0;
  max-width: 400px; /* Adjust as needed */
  margin-bottom: 30px;
}

.reservation-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #ff6347; /* Tomato color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  
}

.homepage-content {
  position: relative;
}

.image-only {
  position: relative;
}

.image-only img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.image-only::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 1;
}

.homepage-header {
  z-index: 2;
  /* Ensure text and button are on top of the overlay */
}
